<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gigi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gigi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studio"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ForgotPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.ItemHistory"
            android:exported="false" />
        <activity
            android:name=".Activity.History"
            android:exported="false" />
        <activity
            android:name=".Activity.Confirm"
            android:exported="false" />
        <activity
            android:name=".Activity.Register"
            android:exported="false" />
        <activity
            android:name=".Activity.Ruang"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Booking"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Home"
            android:exported="false" />
        <activity
            android:name=".Activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>